body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    gap: 4rem;
    background-color: #3197ea;
}

.Wrapper2 {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.user_details {
    background: url('images/green-desk-with-stationery-top-view-copypace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20rem;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    color: #ffffff;
}

.assignment_box {
    margin-top: 20px;
}

.people_column {
    background-color: rgb(219, 90, 43);
    width: 20rem;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #2c2c2c;
}

.main2 {
    background: linear-gradient(62deg, #015ec1, #04b19a, #01cfa6);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    padding: 20px;
    width: 50%;
    color: #fcf5ed;
    border-radius: 10px;
}

#post_text_area,
#assignment-textarea {
    width: 93%;
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#assignment-upload-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#assignment-upload-button:hover {
    background-color: #45a049;
}

#fileToUpload {
    margin-bottom: 10px;
}

#second {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button {
    padding: 10px;
    background-color: #45a049;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}